.container{

background-color: rgb(250, 250, 250);

}

section#container h1{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*Tipo da Fonte*/
	font-size:40px;/*Tamanho da Fonte*/
	font-weight:400;/*Força do Negrito*/
	color:goldenrod;/*Cor da Fonte*/
	margin-top:30px;/*Margem superior*/	
}

